<div id="{{config.id}}" class="guInteractive light-background-{{config.light_background}}" style='{{#config.banding_colour != ''}}background: #{{config.banding_colour}};{{/config.banding_colour}} {{#config.text_colour != ''}}color: #{{config.text_colour}};{{/config.text_colour}}'>
	<div class="interactiveWrapper" style="{{#config.background_colour != ''}}background: #{{config.background_colour}};{{/config.background_colour}}">
		<div id="photoBlocks" class="{{#if hideOld}}hideOld{{/if}}">
			{{#each blocks:i}}
				{{#if blocktype === "lead"}}
					<leadBlock />
				{{elseif blocktype === "photo"}}
					<photoBlock />
				{{elseif blocktype === "quote"}}
					<quoteBlock />
				{{elseif blocktype === "text"}}
					<textBlock />
				{{elseif blocktype === "title"}}
					<titleBlock />
				{{elseif blocktype === "audio"}}
					<audioBlock />
				{{elseif blocktype === "html"}}
					<htmlBlock />
				{{/if}}
				{{#if i===1}}
					{{#if hideOld}}
						<button class="showOldBtn" on-click="showOld">Show previous tracks</button>
					{{/if}}
				{{/if}}
			{{/each}}
		</div>
	</div>

</div>


<style>
	.guLazyLoad {
		background: #333;
		min-height: 500px;
	}

	@media(min-width:980px){
		.block-lead .guLazyLoad {
			min-height: 551px;
		}

		.col-5 .guLazyLoad {
			min-height: 368px;
		}

	}

	@media(min-width:1140px){

		.block-lead .guLazyLoad {
			min-height: 641px;
		}

		.col-5 .guLazyLoad {
			min-height: 445px;
		}
	}

	@media(min-width:1300px){
		.block-lead .guLazyLoad {
			min-height: 731px;
		}

		.col-5 .guLazyLoad {
			min-height: 522px;
		}

	}
	
</style>

