<div class="guInteractive" style='{{#config.banding_colour != ''}}background: #{{config.banding_colour}};{{/config.banding_colour}} {{#config.text_colour != ''}}color: #{{config.text_colour}};{{/config.text_colour}}'>
	<div class="interactiveWrapper" style="{{#config.background_colour != ''}}background: #{{config.background_colour}};{{/config.background_colour}}">
		<div id="photoBlocks">
			{{#each blocks:i}}
				{{#if blocktype === "lead"}}
					<leadBlock />
				{{elseif blocktype === "photo"}}
					<photoBlock />
				{{elseif blocktype === "quote"}}
					<quoteBlock />
				{{elseif blocktype === "text"}}
					<textBlock />
				{{/if}}
			{{/each}}
		</div>
	</div>


   <!-- <img class='guLazyLoad' decorator='lazyload:{src:"http://i.guim.co.uk/static/w-1920/h--/q-95/sys-images/Guardian/Pix/pictures/2015/4/21/1429615169323/53c0bdc2-6c21-4938-84a7-8cbdb41a405e-1530x2040.jpeg"}' /> -->

</div>


<style>

	.guLazyLoad {
		background: #333;
		min-height: 500px;
	}

	@media(min-width:980px){
		.block-lead .guLazyLoad {
			min-height: 551px;
		}

		.col-5 .guLazyLoad {
			min-height: 368px;
		}

	}

	@media(min-width:1140px){

		.block-lead .guLazyLoad {
			min-height: 641px;
		}

		.col-5 .guLazyLoad {
			min-height: 445px;
		}
	}

	@media(min-width:1300px){
		.block-lead .guLazyLoad {
			min-height: 731px;
		}

		.col-5 .guLazyLoad {
			min-height: 522px;
		}

	}

</style>

