<div class="gu-block block-audio col-{{size}} push-{{offset}}">
	<div class='podcastPlayer'>
		<audio >
			<source src="{{url}}" type="audio/mpeg">
		</audio>
		<!-- {{#canPlay}} -->
		<div class='guAudioPlayer'>
			<div class='playerContainer'>
				<div class='guPlayerBtn {{#isPlaying}}playerIsPlaying{{/isPlaying}}' on-click='triggerPlayPause'>
				
					<svg x="0px" y="0px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="display:block;margin-left:auto;margin-right:auto;">
						<circle fill="none" stroke="#dfdfdf" stroke-width="1px" cx="50" cy="50" r="48"/>
						<g transform="translate(50,50)">
							{{#percentPlayed > 0 && duration != 0}}
								<polygon fill='#333' points='{{ getSegmentPoints( percentPlayed, 44, 48, 0 ) }}'>
							{{/percentPlayed}}
						</g>
						<circle fill="#dfdfdf" cx="50" cy="50" r="44"/>
						<polygon fill="#333333" class='guPause' points="45.9,65.5 37.6,65.5 37.6,34.5 39.6,32.5 45.9,32.5 "/>
						<polygon fill="#333333" class='guPause' points="62.4,63.5 60.4,65.5 54.1,65.5 54.1,32.5 62.4,32.5 "/>
						<polygon fill="#333333" class='guPlay' points="72.2,49.3 38.1,35.2 36.9,36.1 36.9,63.9 38.1,64.8 72.2,50.7 "/>
					</svg>

					{{#duration != 0}}<div class='guTimer f-textSans'>{{calcTimeRemaining}}</div>{{/duration}}
				
				</div>
			
			
			</div>


		</div>
		<!-- {{/canPlay}} -->
	</div>
</div>



<style>

.podcastPlayer {
	width: 100%;
	display: block;
	margin-top: 10px;
}

audio {
	display: none;
}

.guAudioPlayer {
	width: 100%;
}

.playerContainer {
	display: block;
	width: 100%;
}

.guPlayerBtn {
	width: 75px;
	display: block;
	margin-left:auto;
	margin-right:auto;

}

.guPlayerBtn svg {
	width: 75px;
	height: 75px;
	cursor: pointer;
}

.guPause {
	display: none;
}

.playerIsPlaying .guPause {
	display: block;
}

.playerIsPlaying .guPlay {
	display: none;
}

.guProgressContainer {
	max-width: 640px;
	padding-left: 10px;
	display: table-cell;
	vertical-align: top;
}

.guTimer {
	color: #767676;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	width: 100%;
	font-family: 'Guardian Text Sans Web', 'Agate Sans', Arial;
}

.guListenLabel {
	color: #767676;
	font-size: .8rem;
	line-height: .8rem;
}

.guProgressBar {
	margin: 5px 0;
	position: relative;
	height: 15px;
	background: #dfdfdf;
	cursor: pointer;
}

.guProgBarHit {
	width: 100%;
	height: 100%;
	position: absolute;
}

.guProgress {
	background: #ff9b0b;
	position: absolute;
	height: 15px;
}
@media (min-width: 980px){
	.playerContainer {
		float: left;
	}

	.guPodcastLinks {
		width: 180px;
		float: left;
		border-top: none;
		padding: 0 0 0 15px;
		margin: 0;
		border-left: 1px solid #dfdfdf;
	}

	.guPlayerBtn {
		width: 100px;
	}
	.guPlayerBtn svg {
		
		height: 80px;
	}

	.guPlayerBtn svg {
		width: 100%;
	}

	.guListenLabel {
		font-size: 1.15rem;
		line-height: 1.25rem;
	}

	.guProgressContainer {
		vertical-align: middle;
		
		padding-right: 20px;
	}
}

</style>

<script>

var convertTime = function(time){
					//convert seconds to MM:SS format
					var minutes = Math.floor(time / 60);
					var seconds = Math.floor(time - (minutes * 60));
					if(seconds < 10 ){
						seconds = "0"+ seconds.toString();
					} 
					return minutes + ':' + seconds;
				}


component.exports = {

	data: {
			canPlay: false,
			duration: 0, // seconds long audio file
			position: 0, // current play position in seconds
			currentPosition: 0,  //seconds that have played

			getSegmentPoints: function ( pct, innerRadius, outerRadius, c ) {
							 // get an SVG points list for the segment
				var points = [], i, angle, start, end, getPoint;

				start = 0;
				end = 2 * (Math.PI)  * pct;

				getPoint = function ( angle, radius ) {
				return ( ( radius * Math.sin( angle ) ).toFixed( 2 ) + ',' + ( radius * -Math.cos( angle ) ).toFixed( 2 ) );
				};

				// get points along the outer edge of the segment
				for ( angle = start; angle < end; angle += 0.05 ) {
				points[ points.length ] = getPoint( angle, outerRadius );
				}

				points[ points.length ] = getPoint( end, outerRadius );

				// get points along the inner edge of the segment
				for ( angle = end; angle > start; angle -= 0.05 ) {
				points[ points.length ] = getPoint( angle, innerRadius );
				}

				points[ points.length ] = getPoint( start, innerRadius );

				// join them up as an SVG points list
				return points.join( ' ' );
			}

	},
	computed: {
		calcDuration: function(){
			var d = this.get('duration')
			return convertTime(d);
		},
		calcPosition: function(){
			var d = this.get('position')
			return convertTime(d);
		},

		calcTimeRemaining: function(){
			var d = this.get('duration') - this.get('position');
			return convertTime(d);
		},
		percentPlayed: function(){
			return this.get('position') / this.get('duration') ;
		}

	},
	onrender: function(){
		//component reference
		var that = this;
		var isMouseDown = false;
		var progBarEl = this.find('.guProgressBar');
		//player reference
		var audioPlayer = this.find('audio');

		audioPlayer.onloadeddata = function(e){

			that.set('canPlay', true);
		
			if(audioPlayer.duration != NaN && audioPlayer.duration != Infinity){
				that.set('duration', audioPlayer.duration);
			}
			
		}
		audioPlayer.ontimeupdate = function(e){
			if(audioPlayer.duration != NaN && audioPlayer.duration != Infinity && audioPlayer.duration != 0){
				that.set('position', audioPlayer.currentTime)
			}
			

		}
		audioPlayer.onended = function(e){
			that.toggle('isPlaying');
		}




		//assigh events
		this.on({
			triggerPlayPause: function(e){
				this.toggle('isPlaying')
			},
	


		})
		this.observe('isPlaying', function(state){
			if(state == true){
				audioPlayer.play();
				if(!that.get('hasPlayed')){
					that.set('hasPlayed', true)
				}
			} else {
				audioPlayer.pause();
			}
		})



		//audioPlayer.play();
	}

}

</script>