<div class="block block-lead">
	<div class="lead-photo">
		<img src="{{mediagridurl}}" />
	</div>
	<div class="lead-text-container horizontal-{{texthorizontalposition}} vertical-{{textverticalposition}}">
		<div class="lead-text-position">
			<div class="lead-text-bar">
				<div class="lead-text-block" style="{{#config.headline_colour != ''}}color: #{{config.headline_colour}};{{/config.headline_colour}}">
					<h1>{{headline}}</h1>
					<h2>{{text}}</h2>
					<shareContainer />
				</div>
			</div>
		</div>
	</div>
</div>