/**
 * Project: Project name 
 * File:    Main SCSS
 */

$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

// @import 'bower_components/pasteup-palette/src/_palette';
// @import 'bower_components/guss-webfonts/src/_webfonts.scss';
// @import 'bower_components/guss-typography/_typography.scss';

@import 'modules/grid';
@import 'modules/fonts';
@import 'modules/share';
figure.element{
	margin:0;
}
.guInteractive {
	font-family:'Guardian Egyptian Web';
	-webkit-font-smoothing: antialiased;
	*{
		box-sizing:border-box;
	}
	.clearboth{
		clear:both;
	}
    img{
    	width:100%;
    }
    .interactiveWrapper{
    	padding-bottom:1px;
    	background:black;
    	&:after{
    		clear:both;
    		content:'';
    		display:block;
    	}
    }


    // LEAD BLOCK
    .block-lead{
    	position: relative;
    	margin-bottom:30px;
    	h1{
    		margin-bottom:0;
    		font-size:32px;
    	}
    	h2{
    		font-size:18px;
    		font-weight:normal;
    		line-height:1.2em;
    		margin-top:0.6em;
    		margin-bottom:15px;
    	}
    }
    .lead-photo{
    	margin:0 -20px;
    }
    .lead-photo,.photo-container{
    	font-size:0;
    }
     .lead-text-block{
    	padding-top:1px;
    }

    .lead-divider{
    	height:1px;
    	background:rgba(255,255,255,0.2);
    	margin:25px -20px 0;
    }




    // PHOTO BLOCK
    .block-photo{
    	margin:10px 0 50px;
    }
    .photo-caption{
    	p{
    		line-height:1.2em;
    		font-size:14px;
    		font-family:'Guardian Text Egyptian Web';
    		margin-top:0.4em;
    	}
    }
    




    .quote-container{
    	margin:10px 0 50px;
    	quote{
    		font-size:22px;
    		line-height:1.2em;
    	}
    	.quote-credit{
    		font-family:'Guardian Text Sans Web';
    	}
    }

    
   


    @media(min-width:480px){
    	.block-lead{
    		margin-bottom:50px;
    		h1{
    			font-size:36px;
    		}
    	}
    	.lead-divider{
    		margin:25px 0 0;
    	}
    	.lead-photo{
    		margin:0 -40px;
    	}
    	#photoBlocks{
    		padding:0 20px;
    	}
    }
    @media(min-width:660px){
    	.block-lead{
    		margin-bottom:70px;
    		h1{
    			font-size:42px;
    		}
    	}
    	.quote-container{
    		margin-bottom:70px;
    	}
    	.lead-divider{
    		margin:30px 0 0;
    	}
    	.block-photo{
    		margin-bottom:70px;
    	}
    }

    @media(min-width:740px){
    	.lead-photo{
    		margin:0 -60px;
    	}
    	#photoBlocks{
    		padding:0 40px;
    	}
    	.block-photo{
    		&.col-1{
    			width:25%
    		}
    		&.col-2{
    			width:50%;
    		}
    		&.col-3{
    			width:75%
    		}
    		&.col-4{
    			width:100%
    		}
    	}
    	.align-left{
    		float:left;
    		padding-right:10px;
    	}
    	.align-right{
    		float:right;
    		padding-left:10px;
    	}
    	.align-center{
    		margin-left:auto;
    		margin-right: auto;
    	}
    }
    @media(min-width:980px){
    	.block-lead{
    		h1{
    			font-size:54px;
    		}
    		h2{
    			font-size:20px;
    		}
    	}
    	.align-{
    		padding-right:10px;
    	}
    	.lead-photo{
    		margin:0 -20px;
    	}
    	.lead-divider{
    		display:none;
    	}
    	.block-photo{
    		margin:10px 0 80px;
    	}
    	.quote-container quote{
    		font-size:32px;
    		display:block;
    	}
    	#photoBlocks{
    		padding:0;
    	}
    	.lead-text-container{
    		position: absolute;
    		width:100%;
    		height:100%;
    		top:0;
    		left:0;
    	}
    	.lead-text-position{
    		display:table;
    		height:100%;
    	}
    	.lead-text-bar{
    		display:table-cell;
    	}
    	.lead-text-block{
    		width:35%;
    	}
    	.text-col-1{
    		width:25%
    	}
    	.text-col-2{
    		width:50%
    	}
    	.text-col-3{
    		width:75%
    	}
    	.text-col-4{
    		width:100%
    	}
    	.vertical-center .lead-text-bar{ vertical-align: middle; }
    	.vertical-bottom .lead-text-bar{ vertical-align: bottom; }

    	.horizontal-center .lead-text-block{ margin-left:auto; margin-right:auto;}
    	.horizontal-right .lead-text-block{ float:right; padding-left:10px;}
    	.horizontal-right .lead-text-block:after{ clear:both; content:''; display:block;}
    	
    	
    }
    @media(min-width:1140px){
    	.lead-photo{
    		margin:0 -100px;
    	}
    	#photoBlocks{
    		padding:0 80px;
    	}
    }

    @media(min-width:1300px){
    	.lead-photo{
    		margin:0 -180px;
    	}
    	#photoBlocks{
    		padding:0 160px;
    	}
    }

    @media(max-width:660px){
    	background:black !important;
    }
}

