.article__header{
	display:none;
}
.guInteractive#voter-voices{
	#p1{
		margin-top:100px;
	}
	.title-text-block{
        max-width:620px;
        padding-top:1px !important;
        margin-top:40px;
        h1{
        	line-height: 1em;
            font-size:54px;
            margin-bottom:0.2em;
        }
        .shareButtons{
        	margin-top:10px;
        	// border-top:1px solid #dfdfdf;
        	padding-top:5px;
        	display:inline-block;
        }
    }
	.block-title{
		padding-top:1px;
		h1{
			color:#333;
		}
		h2{
			color:#333;
			font-weight:normal;
			font-size:18px;
			line-height:1.25em;
		}
		ul{
			margin:20px 0 0;
			padding-left:0px;
			li{
				list-style:none;
				padding-left:20px;
				position: relative;
			}
			li:before{
				display: inline-block;
				position: absolute;
				left:0;
				top:5px;
				  content: '';
				  -webkit-border-radius: 10px;
				  border-radius: 10px;
				  height: 12px;
				  width: 12px;
				  margin-right: 0.25rem;
				  background-color: #bdbdbd;
			}
			a{
				color:#005689;
				text-decoration: none;
				border-bottom:1px solid #dfdfdf;
				padding-bottom:2px;
				transition:0.5s border-color;
				&:hover{
					border-color:#005689;
				}
			}
		}
	}
	h1{
		span{
			font-size:20px;
			display:block;
			line-height: 1.5em;
		}
	}
	.shareButtons button{
		background-color:rgba(0,0,0,0.5);
		&:hover{
			background-color:rgba(0,0,0,1);
		}
	}
	@media(min-width:740px){
		#photoBlocks{
			max-width:560px;
			margin:0 auto;
		}
		.lead-photo{
			margin-left:-90px;
			margin-right:-90px;
		}
		
	}
	@media(min-width:980px){
		#photoBlocks{
			max-width:none;
		}
		.lead-photo{
			margin-left:-10px;
			margin-right:-10px;
		}
		.block-lead h1{
			font-size:78px;
		}
	}
	@media(max-width:979px){
        .lead-text-block{
            margin-left:0;
        }
        .block-lead{
            h1{
                color:#333;
                text-shadow:none;
            }
        }
        .lead-divider{
            background:rgba(0,0,0,0.2)
        }
		$i: 8;
        @while $i > 0 {
            .text-col-#{$i},.col-#{$i} {
                padding: 0 5px;
                width: auto;
            }
            .push-#{$i} {
                margin-left: 0;
            }

          $i: $i - 1;
        }
    }
}